body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: rgb(35, 35, 35);
  color: antiquewhite;
  text-align: center;
}

.publi {
  display: flex;
  justify-content: center;
  align-content: center;
}

.show {
  width: 90vw;
}

.hide {
  display: none;
}
